* {
  /* font-family: "Roboto", sans-serif; */
}

.landing-title {
  letter-spacing: 3px;
  font-size: 50px !important;
}

.landing-subtitle {
  font-size: 1.5rem !important;
}

.img-extend {
  width: 100vw;
}

.nav-hover:hover {
  color: rgb(1, 106, 91) !important;
}
.dropdown-item {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  font-size: 14px;
}
.dropdown-item:hover {
  background-color: rgb(1, 106, 91);
  color: #fff;
}

.logo-wrap {
  position: absolute;
  top: 100px;
}

@media (max-width: 1340px) {
  .dr-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 992px) {
  .logo-wrap {
    display: none;
  }
}
.top {
  position: fixed;
  display: inline-block;
  height: 40px;
  width: 40px;
  z-index: 10;
  bottom: 40px;
  right: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #aaa url(../assets/img/arrow-top_white.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s,
    background-color 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s, background-color 0.3s 0s;
}
.top.top--show,
.top.top--fade-out,
.top:hover {
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s,
    background-color 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s, background-color 0.3s 0s;
}
.top.top--show {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.top.top--fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 0.8;
}
.top:hover {
  background-color: #000;
  opacity: 0.8;
}
.svg-color {
  color: rgb(1, 106, 91) !important;
}
.client-logo-first {
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}
.client-logo-second {
  justify-content: space-evenly;
  padding: 15px;
}
.about-bckg {
  background: linear-gradient(45deg, rgb(1, 83, 52), transparent);
}
.footer-logo {
  width: 170px;
  padding: 0 0 20px;
}
.header-content {
  z-index: 2;
  opacity: 0;
  margin-top: 50px;
  animation: 2s slidefade 1s forwards;
}
@keyframes slidefade {
  100% {
    opacity: 1;
    margin: 0;
  }
}
iframe {
  width: 100%;
  height: 500px;
}
